@font-face {
  font-family: emoji;
  src: local('Apple Color Emoji'),
    local('Android Emoji'),
    local('Segoe UI Emoji'),
    local('Segoe UI Symbol');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, emoji;
  color: #424242;
}

a {
  text-decoration: none;
  color: #08c;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  margin: 0 0 .5rem;
  font-weight: normal;
}

p {
  color: #616161;
  margin: 0 0 .5rem;
}

.container {
  max-width: 50rem;
  padding: 2rem 1rem;
  margin: auto;
}

header {
  background: #424242;
}

.header__title {
  color: #fff;
}

.header__links {
  display: flex;
}

.header__links a {
  margin: 0 .5rem 0 0;
  border-radius: 50%;
  overflow: hidden;
}

.header__links .icon {
  display: flex;
  width: 3rem;
  height: 3rem;
  padding: .5rem;
  fill: #fff;
  transition: all 200ms ease-in-out;
}

.header__links .icon:hover {
  fill: #424242;
  background: #fff;
}

.projects, .gists {
  margin-bottom: 1rem;
}

.project, .gist {
  padding: .5rem 1rem;
}


@media (min-width: 800px) {

  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.6875rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4,
  main {
    font-size: 1.125rem;
  }

}
