@font-face {
  font-family: 'fontello';
  src: url('/font/fontello.eot');
  src: url('/font/fontello.eot#iefix') format('embedded-opentype'),
       url('/font/fontello.woff') format('woff'),
       url('/font/fontello.ttf') format('truetype'),
       url('/font/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: emoji;
  src: local('Apple Color Emoji'),
    local('Android Emoji'),
    local('Segoe UI Emoji'),
    local('Segoe UI Symbol');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, emoji;
  color: #616161;
}

a {
  text-decoration: none;
  color: #08c;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  color: #424242;
  margin: 0 0 .5rem;
  font-weight: normal;
}

p {
  margin: 0 0 .5rem;
}

[class^='icon-']::before,
[class*=' icon-']::before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
}

.icon-github-circled::before { content: '\f09b'; }
.icon-twitter::before { content: '\f099'; }

.container {
  max-width: 50rem;
  padding: 2rem 1rem;
  margin: auto;
}

header {
  border-bottom: 1px solid #eee;
}

.header__links {
  display: flex;
}

.header__links a {
  color: inherit;
  margin: 0 .5rem 0 0;
  text-decoration: none;
  transition: color 100ms linear;
}

.header__links a:hover {
  color: #08c;
}

.header__links .icon {
  display: flex;
  line-height: 1;
  font-size: 2rem;
  padding: .5rem;
}

.projects, .gists {
  margin-bottom: 1rem;
}

.project, .gist {
  padding: .5rem 1rem;
}


@media (min-width: 800px) {

  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.6875rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4,
  main {
    font-size: 1.125rem;
  }

}
